<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction Anime Score</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span4"></div>
        <div class="span4">

<h1>WHAT SCORE WILL YOUR ANIME CREATION HAVE?</h1>
<h2>Please enter your features below:</h2>
<form method="POST">
    {# This is hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    <table class="table">
        <tr>
        <th>Feature</th>
        <th>Value</th>
        <th>Legend</th>
    </tr>
        <tr>
            <td> {{ form.Start_season.label }}</td>
            <td><pre>{{ form.Start_season }}</pre></td>
            <td><pre>0: Fall
1: Spring
2: Summer
3: Winter</pre></td>
        </tr>

    <tr>
        <td>{{ form.Type.label }}</td>
        <td> {{ form.Type }}</td>
        <td><pre>0: Movie
1: Music
2: ONA
3: OVA
4: Special
5: TV</pre></td>
    </tr>

    <tr>
        <td>{{ form.Episodes.label }}</td>
        <td>{{ form.Episodes }}</td>
        <td> </td>
    </tr>

    <tr>
        <td>{{ form.Rating.label }}</td>
        <td>{{ form.Rating }}</td>
        <td><pre>0: G - All Ages
1: PG - Children
2: PG-13 - Teens 13 or older
3: R - 17+ (violence & profanity)
4: R+ - Mild Nudity
5: Rx - Hentai</pre></td>
    </tr>
    </table>
    {{ form.submit() }}
</form>
</div>
<div class="span4"></div>


</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>